<div class="text-center mb-4">
  <h1 class="h3 mb-3">Przychodnia Kortowo</h1>
</div>

<form class="form-signin" (ngSubmit)="login()">
  <div class="form-label-group">
    <input
      type="text"
      id="userName"
      name="username"
      [(ngModel)]="username"
      class="form-control"
      placeholder="Username"
      required
      autofocus
    />
    <label for="userName">Login</label>
  </div>
  <div class="form-label-group">
    <input
      type="password"
      id="inputPassword"
      name="password"
      [(ngModel)]="password"
      class="form-control"
      placeholder="Password"
      required
    />
    <label for="inputPassword">Hasło</label>
  </div>

  <div class="checkbox mb-3 text-danger" *ngIf="loginError">
    Coś poszło nie tak, spróbuj ponownie!
  </div>
  <button 
    type="submit"
    class="btn btn-lg btn-primary btn-block"
    [disabled]="busy"
  >
    Zaloguj
  </button>

</form>
